{% extends "index.html" %}

{% block content %}
{% for page in paginator.pages %}
<article class="post">
    {{ post_macros::title(page=page) }}
    <div class="post__summary">
        {{ page.summary | safe }}
    </div>
    <div class="read-more">
        <a href="{{ page.permalink | safe}}">Read more...</a>
    </div>
</article>
{% endfor %}

<div class="paginate">
    {% if paginator.previous %}
    <a id="prev" href="{{ paginator.previous | safe}}">&laquo;</a>
    {% endif %}
    {% if paginator.next %}
    <a id="next" href="{{ paginator.next | safe }}">&raquo;</a>
    {% endif %}
    <div class="clearfix"></div>
</div>

{% endblock content %}
